.promo{
    min-height: 650px;
    padding: 23px 0 93px 0;
    background: url(../../img/bg.png)center (center/cover) no-repeat; 

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }

    &__header{
        font-weight: 700;
        font-size: 42px;
        color: #FFFFFF;
        line-height: 42px;
    }

    &__subheader{
        font-weight: 500;
        margin-top: 17px;
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__icons{
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }

    &__icon{
        width: 106px;
        text-align: center;
        img{
            margin-bottom: 20px;
            display: block;
            margin: 0 auto;
        }
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        margin-top: 18px;

        a{
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}